body{
	background: url( "../img/body.jpg" ) no-repeat center center fixed;
	color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header{
	background: #5882FA;
	margin-top: 3%;
	padding: 5px;
}
img{
	margin: 0 auto;
}
.box{
	height: 300px;
}
.box h1{
	font-size: 60px;
}
.box .background{
	background: black;
	height: 100%;
	opacity: 0.6;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.box .compra{
	color: green;
	font-weight: bold;
}
.box .venta{
	color: red;
	font-weight: bold;
}
.coin{
	color: #0A0A2A;
}
.content-coin{
	margin-top: 5%;
}
.modal-content{
	color: black;
}
@media( max-width: 768px ){
	.box{
		margin-top: 50px;
	}
}